<a href="https://colab.research.google.com/github/MarcinAn/Albumy/blob/main/Albumy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pobieranie danych**

In [34]:
import pandas as pd
data = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551', header=0)
df = data[0]

**Zamień nagłówki kolumn na polskie odpowiedniki:**

In [35]:
df.rename(columns={'TITLE' : 'TYTUŁ','ARTIST':'ARTYSTA',	'YEAR':'ROK',	'HIGH POSN':'MAX POZ'}, inplace=True)
df.columns

Index(['POS', 'TYTUŁ', 'ARTYSTA', 'ROK', 'MAX POZ'], dtype='object')

**Ilu pojedynczych artystów znajduje się na liście?**

In [36]:
print('Ilość pojedynczych artystów w liście:', len(df['ARTYSTA'].unique()))

Ilość pojedynczych artystów w liście: 47

**Które zespoły pojawiają się najczęściej na liście?**

In [37]:
most_artist = pd.DataFrame(df['ARTYSTA'].value_counts() == max(df['ARTYSTA'].value_counts()))
most_artist = most_artist[most_artist['ARTYSTA'] == True].reset_index()
most_artist.drop('ARTYSTA', axis=1, inplace=True)
print(f'Najczęściej występującymi artystami są: {most_artist.iloc[0,0]}, {most_artist.iloc[1,0]}')

Najczęściej występującymi artystami są: COLDPLAY, TAKE THAT

**Zmień nagłówki kolumn, tak aby każdy z nich rozpoczynał się od wielkiej litery, a pozostałe były wprowadzone małymi literami.**

In [38]:
df.rename(str.capitalize, axis='columns', inplace=True)
df.columns

Index(['Pos', 'Tytuł', 'Artysta', 'Rok', 'Max poz'], dtype='object')

**Wyrzuć z tabeli kolumnę ‘Max Poz’.**

In [39]:
df.drop(['Max poz'], axis=1, inplace=True)
df.columns

Index(['Pos', 'Tytuł', 'Artysta', 'Rok'], dtype='object')

**W którym roku wyszło najwięcej albumów znajdujących się na liście?**

In [40]:
year = df.groupby('Rok').agg({'Tytuł':'count'})
year = year[year['Tytuł']==year['Tytuł'].max()].reset_index()
print('Lata w których wydano najwięcej albumów:')
for y in year['Rok']:
    print(y)

Lata w których wydano najwięcej albumów:
1987
2000

**Ile albumów wydanych między 1960 a 1990 rokiem włącznie znajduje się na liście?**

In [41]:
year_between = df[(df['Rok'] >= 1960) & (df['Rok'] <= 1990)]
print('Ilość albumów wydanych pomiędzy 1960 a 1990 wynosi:', year_between['Tytuł'].count())

Ilość albumów wydanych pomiędzy 1960 a 1990 wynosi: 22

**W którym roku wydany został najmłodszy album na liście?**

In [47]:
df[df['Rok']==df['Rok'].max()]
print('Najmłodszy album na liście został wydany w roku:', df['Rok'].max())

Najmłodszy album na liście został wydany w roku: 2015

**Przygotuj listę najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.**

In [53]:
earliest_album = df.sort_values(by='Rok')
earliest_album = earliest_album.drop_duplicates(subset='Artysta', keep='first').reset_index()
earliest_album = earliest_album.reset_index().drop(['index'], axis=1)
earliest_album.drop({'level_0', 'Pos'}, axis=1, inplace=True)

**Listę zapisz do pliku csv**

In [56]:
earliest_album.to_csv('Najwcześniejsze albumy.csv', index=False)