<a href="https://colab.research.google.com/github/MarcinAn/Albumy/blob/main/Albumy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pobieranie danych**

In [ ]:
import pandas as pd
data = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551', header=0)
df = data[0]

**Zamień nagłówki kolumn na polskie odpowiedniki:**

In [ ]:
df.rename(columns={'TITLE' : 'TYTUŁ','ARTIST':'ARTYSTA',	'YEAR':'ROK',	'HIGH POSN':'MAX POZ'}, inplace=True)
df.columns

Index(['POS', 'TYTUŁ', 'ARTYSTA', 'ROK', 'MAX POZ'], dtype='object')

**Ilu pojedynczych artystów znajduje się na liście?**

In [ ]:
print('Ilość pojedynczych artystów w liście:', len(df['ARTYSTA'].unique()))

Ilość pojedynczych artystów w liście: 47

**Które zespoły pojawiają się najczęściej na liście?**

In [ ]:
most_artist = pd.DataFrame(df['ARTYSTA'].value_counts() == max(df['ARTYSTA'].value_counts()))
most_artist = most_artist[most_artist['ARTYSTA'] == True].reset_index()
most_artist.drop('ARTYSTA', axis=1, inplace=True)
print('Najczęściej występującymi artystami są:')
for artist in most_artist['index']:
    print(artist)

Najczęściej występującymi artystami są:
COLDPLAY
TAKE THAT

**Zmień nagłówki kolumn, tak aby każdy z nich rozpoczynał się od wielkiej litery, a pozostałe były wprowadzone małymi literami.**

In [ ]:
df.rename(str.capitalize, axis='columns', inplace=True)
df.columns

Index(['Pos', 'Tytuł', 'Artysta', 'Rok', 'Max poz'], dtype='object')

**Wyrzuć z tabeli kolumnę ‘Max Poz’.**

In [ ]:
df.drop(['Max poz'], axis=1, inplace=True)
df.columns

Index(['Pos', 'Tytuł', 'Artysta', 'Rok'], dtype='object')

**W którym roku wyszło najwięcej albumów znajdujących się na liście?**

In [ ]:
year = df.groupby('Rok').agg({'Tytuł':'count'})
year = year[year['Tytuł']==year['Tytuł'].max()].reset_index()
print('Lata w których wydano najwięcej albumów:')
for y in year['Rok']:
    print(y)

Lata w których wydano najwięcej albumów:
1987
2000

**Ile albumów wydanych między 1960 a 1990 rokiem włącznie znajduje się na liście?**

In [ ]:
year_between = df[(df['Rok'] >= 1960) & (df['Rok'] <= 1990)]
print('Ilość albumów wydanych pomiędzy 1960 a 1990 wynosi:', year_between['Tytuł'].count())

Ilość albumów wydanych pomiędzy 1960 a 1990 wynosi: 22

**W którym roku wydany został najmłodszy album na liście?**

In [ ]:
df[df['Rok']==df['Rok'].min()]
print('Najmłodszy album na liście został wydany w roku:', df['Rok'].min())

Najmłodszy album na liście został wydany w roku: 1965

**Przygotuj listę najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.**

In [ ]:
earliest_album = df.sort_values(by='Rok')
earliest_album = earliest_album.drop_duplicates(subset='Artysta', keep='first').reset_index()
earliest_album = earliest_album.reset_index().drop(['index'], axis=1)
earliest_album

,level_0,Pos,Tytuł,Artysta,Rok
0,0,52,THE SOUND OF MUSIC,ORIGINAL CAST RECORDING,1965
1,1,3,SGT PEPPER'S LONELY HEARTS CLUB BAND,BEATLES,1967
2,2,21,BRIDGE OVER TROUBLED WATER,SIMON & GARFUNKEL,1970
3,3,7,THE DARK SIDE OF THE MOON,PINK FLOYD,1973
4,4,42,TUBULAR BELLS,MIKE OLDFIELD,1973
5,5,46,GREATEST HITS,ABBA,1975
6,6,19,BAT OUT OF HELL,MEAT LOAF,1977
7,7,11,RUMOURS,FLEETWOOD MAC,1977
8,8,47,GREASE,ORIGINAL SOUNDTRACK,1977
9,9,37,THE WAR OF THE WORLDS,JEFF WAYNE,1978
10,10,1,GREATEST HITS,QUEEN,1981
11,11,6,THRILLER,MICHAEL JACKSON,1982
12,12,16,LEGEND,BOB MARLEY & THE WAILERS,1984
13,13,8,BROTHERS IN ARMS,DIRE STRAITS,1985
14,14,51,GRACELAND,PAUL SIMON,1986
15,15,36,THE JOSHUA TREE,U2,1987
16,16,44,TRACY CHAPMAN,TRACY CHAPMAN,1988
17,17,39,BUT SERIOUSLY,PHIL COLLINS,1989
18,18,12,THE IMMACULATE COLLECTION,MADONNA,1990
19,19,14,STARS,SIMPLY RED,1991
20,20,60,AUTOMATIC FOR THE PEOPLE,REM,1992
21,21,5,WHAT'S THE STORY MORNING GLORY,OASIS,1995
22,22,41,JAGGED LITTLE PILL,ALANIS MORISSETTE,1995
23,23,29,SPICE,SPICE GIRLS,1996
24,24,28,TALK ON CORNERS,CORRS,1997
25,25,15,COME ON OVER,SHANIA TWAIN,1997
26,26,18,URBAN HYMNS,VERVE,1997
27,27,26,WHITE LADDER,DAVID GRAY,1998
28,28,53,LADIES & GENTLEMEN - THE BEST OF,GEORGE MICHAEL,1998
29,29,48,I'VE BEEN EXPECTING YOU,ROBBIE WILLIAMS,1998
30,30,43,THE MAN WHO,TRAVIS,1999
31,31,25,NO ANGEL,DIDO,2000
32,32,45,PARACHUTES,COLDPLAY,2000
33,33,55,THE MARSHALL MATHERS LP,EMINEM,2000
34,34,50,COME AWAY WITH ME,NORAH JONES,2002
35,35,38,SCISSOR SISTERS,SCISSOR SISTERS,2004
36,36,35,HOPES AND FEARS,KEANE,2004
37,37,17,BACK TO BEDLAM,JAMES BLUNT,2004
38,38,59,NEVER FORGET - THE ULTIMATE COLLECTION,TAKE THAT,2005
39,39,58,EYES OPEN,SNOW PATROL,2006
40,40,13,BACK TO BLACK,AMY WINEHOUSE,2006
41,41,23,SPIRIT,LEONA LEWIS,2007
42,42,33,ONLY BY THE NIGHT,KINGS OF LEON,2008
43,43,30,THE FAME,LADY GAGA,2008
44,44,24,CRAZY LOVE,MICHAEL BUBLE,2009
45,45,4,21,ADELE,2011
46,46,49,X,ED SHEERAN,2014

**Listę zapisz do pliku csv**

In [ ]:
earliest_album.to_csv('Najwcześniejsze albumy.csv', index=False)